/* static/css/style.css */

/* variables */
:root {
    --maze-border-color: #333;
    --maze-border-width: 2px;
    --cell-min-size: 8px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
}

/* styles for the cells in the maze */
.maze-container {
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 100%;
    aspect-ratio: 1;
    margin: auto;
    padding: 20px;
    background-color: bisque;
    box-sizing: border-box;
}

/* one of these inside the maze-container */
.maze {
    display: flex;
    flex: 1 1 auto;
    height: 100%;
    flex-wrap: wrap;
    padding: 20px;
    background-color: rgb(131, 196, 131);
    box-sizing: border-box;
}

/* multiples of this inside one maze */
.maze-line {
    flex: 1 1 auto;
    width: 100%;
    display: flex;
    background-color: rgb(194, 122, 122);
}

/* multiples of this inside one maze-line */
.cell {
    flex: 1 1 auto;
    display: flex; 
    justify-content: center;
    align-items: center;
    border: var(--maze-border-width) solid var(--maze-border-color);
    box-sizing: border-box;
    background-color: #fff;
    min-width: var(--cell-min-size);
    min-height: var(--cell-min-size);
}

.cell.up {
    border-top-color: transparent;
}

.cell.right {
    border-right-color: transparent;
}

.cell.down {
    border-bottom-color: transparent;
}

.cell.left {
    border-left-color: transparent;
}

/* one of these inside a cell */
.path {
    background-color: red;
    width: 50%;
    height: 50%;
    border-radius: 9999px;
}