<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Laberintou</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <script src="{{ url_for('static', filename='js/maze.js') }}" defer></script>
  </head>
  <body>
    <div class="header">
      <input type="text" id="maze-name" placeholder="Enter maze name">
      <button onclick="saveMaze()">Save Maze</button>
      <button onclick="openLoadModal()">Load Maze</button>
    </div>
    <div class="maze-container"></div>

    <!-- Modal for loading mazes -->
    <div id="load-modal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="closeLoadModal()">&times;</span>
        <h2>Select a Maze to Load</h2>
        <div id="saved-mazes"><div>
      </div>
    </div>
  </body>
</html>