<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Laberintou</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />    
  </head>
  <body>
    
    <div class="maze">
      {% for line in maze %}
      {% set y = loop.index0 %}
      <div class="maze-line">
        {% for cell in line %}
        <div class="cell
          {% if cell.up %}up {% endif %} 
          {% if cell.down %}down {% endif %}
          {% if cell.left %}left {% endif %}
          {% if cell.right %}right {% endif %}">
          
          {% set x = loop.index0 %}
          {% if (x, y) in solution %}
            <div class="path"></div>
          {% endif %}

        </div>
        {% endfor %}
      </div>
      {% endfor %}
    </div>

  </body>
</html>
